.idea
.git/
.gitignore
.pytest_cache/
__pycache__/
*.egg-info/

.venv
*.iml

.dockerignore
.env*

Dockerfile

report_link
ticket_link
http_cache.sqlite

jenkins/

db.sqlite3
.DS_Store

service_account_key.json
*.csv
*.zip
pdfs/
