[Unit]
Description=Backblaze B2 iconik Plugin
After=network.target

[Service]
User=pat
WorkingDirectory=/home/pat/b2-iconik-plugin
ExecStart=/home/pat/b2-iconik-plugin/.venv/bin/gunicorn --pythonpath b2_iconik_plugin --config b2_iconik_plugin/gunicorn.conf.py plugin:create_app()
Restart=always

[Install]
WantedBy=multi-user.target
